*{
    margin:0;
    padding:0;
    
   
    list-style: none;
    text-decoration: none;

}
#btn12{
    color: white;
    margin-right:10px;
    border:1px solid white;
    border-radius: none;
}
 


.blogdisplay{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}